<h1>Reset Your Password</h1>
<%= form_with(url: update_password_password_reset_url(@user), method: :post) do |f| %>
  <%= f.label :password, 'New Password' %>
  <%= f.password_field :password, required: true %><br><br>

  <%= f.submit 'Reset Password' %>
<% end %>
